<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ff.challenge.feature.currencies">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_currencies">
        <dist:fusing dist:include="false" />
    </dist:module>

</manifest>
